/*Tipografía global*/
* {
    font-family: "Verdana", sans-serif;
}

p:hover {
    font-size: 18px;
}
h1 {
    color: rgb(17, 110, 82);  
    font-size: 40px;
}

h2 {
    color: rgb(192, 167, 23);
    font-size: 30px;
}

h3 {
    color: rgb(16, 61, 10);
    font-size: 20px;
}
/* Menu de navegación */
nav,li {
    background: burlywood;
    color: rgb(199, 21, 21);
    text-transform: capitalize;
    display: inline-block;;
    position: sticky;
    top: 0;
    align-content: center;
}

nav,li :hover {
    background: rgb(6, 77, 8);
    color: rgb(153, 140, 42);
    display: inline-block;;
    font-size: 20px;
    position: sticky;
    top: 0;
    align-content: center;
}

/* Contenido secciones */
#main {
    background: rgb(252, 224, 188);
    color: rgb(43, 226, 186);
    border-radius: 30px;
    padding: 15px;
}

#enlaces {
    background: burlywood;
    color: rgb(43, 226, 186);
    border-radius: 30px;
    padding: 15px;
}

#horario {
    background: rgb(90, 67, 36);
    color: rgb(99, 100, 15);
    border-radius: 30px;
    padding: 15px;
}
#iframe {
    background: rgb(43, 28, 9);
    color: blueviolet;
    border-radius: 30px;
    padding: 15px;
}
/* Tablas*/
table {
    border: 1px;
}

table tr:nth-child(odd) {
    background: red; 
}

table tr:nth-child(even) {
    background: salmon;  
}

/* Hover opcional */
table tr:hover {
    background: blue;
}

img {
    float: left;
}
iframe {
    float:right;
}

.fondo {
  background-image: url("img/fondo.jpg");
  background-size: cover;     /* La imagen cubre toda la sección */
  background-position: center; /* Centrada */
  background-repeat: no-repeat; /* No se repite */
  color: white;                /* Texto claro sobre fondo oscuro */
  padding: 30px;
  border-radius: 12px;
  background-attachment: fixed
}